@fortawesome:registry=https://npm.fontawesome.com/
@bluelightcard:registry=https://npm.pkg.github.com/
//npm.fontawesome.com/:_authToken=C00C7362-F6E7-4DBB-A8A6-65DDDDFCD219
save-exact=true # Makes all npm installs default to an exact version
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
