@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-bullet-size: 1rem;
}

.swiper-pagination-enabled {
  --swiper-navigation-top-offset: calc(50% - 2rem - 1rem);
  padding-bottom: 2rem !important;
}

.swiper-pagination-bullet {
  @apply bg-colour-onSurface-outline dark:bg-colour-onSurface-outline-dark opacity-100 !important;
}

.swiper-pagination-bullet-active {
  @apply bg-colour-primary-light dark:bg-colour-primary-dark !important;
}

.swiper-button-prev,
.swiper-button-next {
  background: #000000cc;
  padding: 15px !important;
  color: #ccc !important;
}

.swiper:not(:hover) .swiper-button-prev {
  opacity: 0;
}

.swiper:not(:hover) .swiper-button-next {
  opacity: 0;
}
