$desktop-screen-min-width: 1200px;
$desktop-screen-small-min-width: 1024px;
$tablet-screen-min-width: 768px;
$mobile-screen-min-width: 280px;

$breakpoints-min: (
  'desktop': $desktop-screen-min-width,
  'desktop-small': $desktop-screen-small-min-width,
  'tablet': $tablet-screen-min-width,
  'mobile': $mobile-screen-min-width
);
