@use 'sass:color';

/** Custom SCSS bootstrap overrides */

// button properties
$btn-focus-outline: $primary;
$btn-hover-bg: color.scale($primary, $lightness: -10%);

/**
 * Custom CSS variables
 *
 * CSS variables for components should be in the below format.
 * 
 * c: Component name, this should be hyphenated
 * p: CSS property, this should be hyphenated
 * 
 * --[c]-[p]: [value];
 */

:root {
  --field-group-margin-bottom: 1rem;

  // PillButton
  --pill-buttons-default-text-color: #2929CC;
  --pill-buttons-selected-text-color: #EDEDF2;
  --pill-buttons-selected-color: #2929CC;
  --pill-buttons-default-color: #EDEDF2;

}